.header {
    color: white;
    font-family: 'Peace Sans', sans-serif;
    font-size: 4.07em;
    margin-top: 3px;
    margin-bottom: 100px;
    margin-left: 48px;
    padding: 25px;
    width: 90%;
}
